<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modaltitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modaltitle">
          <a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <header class="text-right">
          <a href="https://github.com/{{ site.github_orgname }}{{ "/" | relative_url }}blob/master/{{ page.path }}" id="view-on-github" class="btn btn-outline-primary btn-sm" role="button"><span>View on GitHub</span></a>
        </header>
        <h1 class="h6">目次</h1>
        <ul class="list-unstyled">
        {% assign items = site.pages %}
        {% for item in items %}
          {% if item.title and item.url != "/" %}
            <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
