<div class="d-inline-flex py-1">
  <!-- hatena -->
  <a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="touch-counter" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
  <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
</div>
<div class="d-inline-flex py-1">
  <!-- twitter -->
  <a href="https://twitter.com/share" class="twitter-share-button" data-size="large">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
<div class="d-inline-flex py-1">
  <!-- facebook -->
  <div class="fb-like" data-href="{{ page.url | absolute_url }}" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
</div>
<div class="d-inline-flex py-1">
  <!-- line -->
  <div class="line-it-button" style="display: none;" data-lang="ja" data-type="share-c" data-url="{{ page.url | absolute_url }}"></div>
  <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
</div>
<div class="d-inline-flex py-1">
  <!-- pocket -->
  <a data-pocket-label="pocket" data-pocket-count="horizontal" class="pocket-btn" data-lang="en"></a>
  <script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
</div>