---
layout: default
---

<div class="container">
  <section class="d-flex justify-content-end py-3">
    <a href="https://github.com/{{ site.github_orgname }}{{ "/" | relative_url }}" id="view-on-github" class="btn btn-outline-primary btn-sm" role="button"><span>View on GitHub</span></a>
    <a href="https://github.com/{{ site.github_orgname }}{{ "/" | relative_url }}zipball/master" id="download-zip" class="btn btn-outline-primary btn-sm" role="button"><span>Download .zip</span></a>
  </section>
  <section id="README" class="py-3">
  {{ content }}
  </section>
  {% if site.index == 'auto' %}
  <section class="row">
    <div class="col-sm-12 col-md-3">
      <h2 class="h3">目次</h2>
    </div>
    <div class="col-sm-12 col-md-9">
      <ul class="list-unstyled">
      {% assign items = site.pages %}
      {% for item in items %}
        {% if item.title and item.url != "/" %}
          <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </section>
  {% endif %}
  <hr>
  <footer class="py-3">
{% include social-buttons.html %}
  </footer>
</div>