---
layout: default
---

{% assign items = site.pages %}
{% for item in items %}
  {% if item.path == page.path %}
    {% assign prev_index = forloop.index0 | minus: 1 %}{% if items[prev_index].title %}{% assign prev = items[prev_index] %}{% endif %}
    {% assign next_index = forloop.index0 | plus: 1  %}{% if items[next_index].title %}{% assign next = items[next_index] %}{% endif %}
    {% break %}
  {% endif %}
{% endfor %}

{% if prev %}
<header>
  <a class="btn btn-light btn-block" role="button" href="{{ prev.url | relative_url }}">&lt; {{ prev.title }}</a>
</header>
{% endif %}
<div class="container">
  <article>
    {{ content }}
  </article>
  <div class="py-5">
{% include social-buttons.html %}
  </div>
</div>
{% if next %}
<footer>
  <a class="btn btn-light btn-block btn-lg" role="button" href="{{ next.url | relative_url }}">{{ next.title }} &gt;</a>
</footer>
{% endif %}