#Redmineで始める異世界人心掌握術

##テーマ
異世界転移モノ。魔王の味方になり魔族運営をマネジメントする。

##時期
現代とファンタジー世界。

##舞台
レヴィが初代当主である、通称『｜紅の宝庫《レッドマイン》』は、Redmineを中心に構築された世界。半年ほど前に設立。
先代魔王レイラが構築した国。自らをメインサーバとし、Redmineを構築して国を管理していたが1ヶ月に失踪する。
娘であるレヴィは、スレーブサーバとして即興で構築されたが中途半端な状態で止まっている。本人はその力に気づいておらず、部下の管理に苦労している。

チケットシステム：
魔物は、Redmineの管理者である魔王（レヴィ）がチケットをアサインすることで出現（召喚）され、そのチケットに書かれたタスクを完了させるまで働き続ける。
召喚における契約書のようなもの。
タスクの難易度が高いほど魔物の能力も高まるが、コスト（魔力）もかかる。
動きに脈絡がない魔物は、書かれているタスクが曖昧すぎて理解できないから。

敵
『｜緑の格子盤《グリーンボード》』と呼ばれる国。

##章立て
1章 魔族をプロジェクト・マネジメント
2章 チュートリアル(初級編)
3章 草原を渡る紅風
4章 それぞれの思い
5章 チュートリアル(応用編)
6章 No Ticket, No Wonderful Life!

##登場人物
藤倉紅子
｜藤倉《ふじくら》｜紅子《こうこ》
26歳女性。IT業界。

レヴィ
魔族。レヴィの娘。名前はRubyから。

ジェミィ
レヴィの付き人。元「緑の格子盤」のレイラ部隊の護衛騎士。「紅玉の刃」の二つ名を持つ。
名前はGemFileから。

ジーナ
魔族の娘。その高い魔力はレヴィに匹敵する。長い銀髪と白いワンピース。
名前はJean-Philippe(開発者)から。

｜信号衝突《コリジョン》
｜強制帰還《ループバック》
｜待機系運用《スイッチオーバー》
｜全方位弾《ブロードキャストパケット》

｜遅延過多《ハイ・レイテンシー》

｜過剰送信《スマーフ・アタック》
｜魔力枯渇《シン・フラッド》


ライカ
元「緑の格子盤」のレイラ部隊の傭兵。ジーナを護衛しながら共に旅をする。「烈火の大剣」の二つ名を持つ。名前はRakeFileから。

エクシエラ
「緑の格子盤」当主。《翠玉女帝》名前はもちろんExcelから。

オデッサ
「緑の格子盤」参謀。名前はエクセルのコードネームOdysseyから。


レイラ
レヴィの母。元「緑の格子盤」の部隊長だったが、思想の違いにより離脱、「紅の宝庫」を立ち上げる。天才PM・SE・PG。一ヶ月前に失踪。名前はRailsから。


ネタ帳：
名前の候補
パッシィ    Passenger
Bundler
BitNami
ルーファ
loofah
Nokogiri


red: 紅
mine: 私の、鉱山、宝庫、地雷原


##用語集
『｜新規《New》』
『｜進行中《Assigned》』
『｜解決《Resolved》』
『｜フィードバック《Feedback》』
『｜終了《Closed》』
『｜継続不可能《Rejected》』

｜割り当て《アサイン》

｜P《プロジェクト》｜M《マネージャー》
｜P《プロジェクト》｜O《オーナー》
｜S《システム》｜E《エンジニア》

『｜緑の格子盤《グリーンボード》』


｜魔力通信網《ネット》


キックオフ 決起集会
ローンチ 立ち上げ
リリース 提供開始
ロールアウト 全面展開

#機能

ニュース
文書
wiki
フォーラム
ファイル

カレンダー
カスタムクエリ
ガントチャート
プラグイン
リポジトリ

# 年表

## -6ヶ月 
レイラ、緑の格子盤に反旗、紅の宝庫を設立。
## -1ヶ月
レイラ、姿を消す。
## -1週間
レイラ、ライカにジーナを託す。
## 0
1章開始時点。紅子、異世界に転移。
## +1週間
2章、3章。
## +1ヶ月と1週間
4章開始時点。
